/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}



p {
  line-height: 2rem;
}

.header{
  padding-top: 300px;
  opacity:1;
}

.button-collapse {
  color: #26a69a;
}

.preloadimage{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax-container {
  min-height: 880px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.lifebar-container{
  position: fixed;
  z-index: 100;
  top: 50px;
  width:300px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  transition: left 3s;
  @include transition(height .3s);
  overflow: visible;
}

.lifebar-container.smaller{
  width: 75px;
  top: 2%;
  left:1%;
}

.lifebar-container.monitorMove{
  top: 140px;
  left: 36%;
}

.lifebar-half-circle {
    width: 180px;
    height: 90px;
    background-color: transparent;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    position: relative;
    border: 34px solid #66BB6A;
    border-bottom: 0;
    transform: rotate(270deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 10%;
    z-index: 0;
    top: 40px;
    opacity: 0;
    -webkit-animation: load1 .5s 1 forwards;
    animation: load1 .5s 1 forwards;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    @include transition(all .1s);
  }
  @-webkit-keyframes load1 {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      opacity: 1;
    }
  }
  @keyframes load1 {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      opacity: 1;
    }
  }

.lifebar-container.smaller .lifebar-half-circle{
    width: 100px;
    height: 50px;
    border: 20px solid #66BB6A;
    left: -20px;
    top: 10px;
}

.lifebar-bar {
    width: 0px;
    height: 34px;
    background-color: #66BB6A;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 54%;
    z-index: 0;
    top: -95px;
    -webkit-animation: load2 2s ease .35s 1 forwards;
    animation: load2 2s ease .35s 1 forwards;
    -webkit-transition: all .1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all .1s;
    @include transition(all .1s);
  }
  @-webkit-keyframes load2 {
    0% {
      width: 0px;
    }
    100% {
      width: 320px
    }
  }
  @keyframes load2 {
    0% {
      width: 0px
    }
    100% {
      width: 320px;
    }
  }

.lifebar-container.smaller .lifebar-bar{
    width: 150px;
    height: 20px;
    top: -65px;
    left: 54px;
    animation-fill-mode: none;
}

.lifebar-text{
  position: relative;
    top: -226px;
    left: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @include transition(all .3s);
}

.lifebar-container.smaller .lifebar-text{
    width: 150px;
    height: 20px;
    top: -1000px;
}

.lifebar-circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #266AA0;
    border: 2px solid #000000;
    position: relative;
    left: 36%;
    top: -100px;
    box-shadow: 2px 2px 2px #000000;
    transform: scale(0); /* 1/10 of the original size */
    -webkit-animation: load3 2s ease .35s 1 forwards;
    animation: load3 2s ease .35s 1 forwards;
    -webkit-transition: all all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    @include transition(all .25s ease);
  }
  @-webkit-keyframes load3 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes load3 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
.lifebar-container.smaller .lifebar-circle{
      width: 70px;
      height: 70px;
      left: 30%;
      top: -70px;
}

.lifebar-account .material-icons{
  font-size: 60px !important;
  position: relative;
  top: 2px;
  left: 3px;
  opacity: 0;
  color: white;
}

.L{
  position:absolute;
  top: -10px;
  left:36px;
  color: #fff;
  text-align:center;
  font-size: 90px;
}

.lifebar-container.smaller .L{
  top: -1000px;
  left:36px;
  font-size:34px;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;
}

.fade-in.one {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

.fade-in.two {
  -webkit-animation-delay: .6s;
  -moz-animation-delay:.6s;
  animation-delay: .6s;
}

.fade-in.three {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  animation-delay: .7s;
}
.fade-in.four {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  animation-delay: .9s;
}

.fade-in.five {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay:1.1s;
  animation-delay: 1.1s;
}

.fade-in.six {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

/*---make a basic box ---*/
.box{
  position: relative;
  display:inline;
  color: #fff;
  font-size: 88px;
  left: 56%;
  letter-spacing: -4px;
  font-weight: 300;
}

/*-----------ScrollMagic--------------*/

section {
  height: 600px;
  position: relative;
  text-align: center;
}
/* Center aligned first section */
section .inner {
  margin: 0 auto;
  max-width: 85%;
}

/* Content of the following sections aligned next to the monitor */
section .innerText {
  position: absolute;
  top: 250px;
  left: 60%;
  transform: translate(-100px, -50%);
  text-align: left;
  /*z-index: -1;*/
}

#two, #four{
  background-color: #D32F2F;
  /*z-index: 0;*/
}

.xp-text{
  top: -140px;
  left: 100px;
  position: relative;
  font-size: 24px;
  width:120px;
}

.landing-sign-up{
  position: fixed;
  /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    /*min-height: 10em;*/
    width: 20%;
    min-width:200px;
}

/* monitor/Card positioned to the left - this is a default position */
.monitor {
  width: 636px;
  height: 345px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  background-color: #999;
  background-image: url("../images/fallout4.gif");
  /*opacity: 0;*/
  z-index: 0;
}

.manBack, .controller, .manFront{
  position: fixed;
  top: 50%;
  left: 10%;
  display: inline;
  opacity: 0;
  z-index: 0;
}

.gameGif, .landingGraphs {
  position: fixed;
  top: 50%;
  left: 10%;
  display: inline;
  opacity: 0;
  z-index: 4;
}

/*.landingActivity, .landingNotifications{
  z-index:4;
}*/

.macbook{
  position: fixed;
  top: 50%;
  left: 10%;
  display: inline;
  opacity: 0;
  z-index:2;
}

.landingGraphs{
  z-index: 12;
}

.manFront{
  z-index: 100;
}

.manAvatar{
  opacity:0;
}

.gameGif{
  /*width:400px;*/
}

/*.landingActivity img, .landingNotifications img{
  position: relative;
    left: 10%;
    height: 400px;
    z-index: 100;
    /*opacity: 0;
}*/

.landingMask
{
  position: fixed;
  top: 50%;
  left: 9%;
  /*background-color: #D8D8D8;*/
  height: 300px;
  width: 500px;
  /*opacity:0;*/
  overflow: hidden;
  z-index:3;
}

/* Centered content of the ScrollMagic card */
/*.monitor p, .macBook p {
  font-size: 140px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.9);
}*/

/* Letters hidden by default */
.monitor p.manFront, .monitor p.manBack, .monitor p.macbook, .macbook p.manFront {
  /*opacity: 0;*/
  /*visibility: hidden;*/
}

/* ScrollMagic hat on top of letters */
.monitor p.manBack {
  /*z-index: 2;*/
}
/*.monitor p.manBack img {
  max-width: 130px;
}*/

/* Bullet list */
.features {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}
.features li {
  position: relative;
  padding-left: 17px;
  font-size: 18px;
}

/* A heart instead of a bullet */
.features li:before {
  /*content: '❤';*/
  content: url("../images/Coin.png");
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  color: #ff466a;
}

/* FOOTER */
#landing-sign-up {
	background: #D32F2F;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#landing-sign-up p {
	color: white;
}

#landing-sign-up h4 {
	font-weight: 400;
	text-align: center;
	font-size: 24px;
}

/* CREDIT */
#c {
	background: black;
	padding: 20px;
}

#c p {
	color: white;
	font-size: 13px;
}
